<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
    </httpHandlers>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpRuntime maxRequestLength="1048576" /><!--Tamaño de Upload (FILE)--> 
  </system.web>

  <appSettings>
    <add key="UploadPath" value="d:\Interfaz\"/>
    <add key="ServidorWeb" value="SERVNMPRB"/>
    <add key="UploadPathPoliticas" value="d:\PolNM\"/>
    <add key="UploadPath2" value="C:\Inetpub\wwwroot\Intranet\NM\"/>
    <add key="RutaWebService" value="http://servnmprb/InicioSistemas/wsSistemas.asmx"/>
    <add key="RutaRecursoMenu" value="http://servnmprb/InicioSistemas/"/>
    <add key="ServidorSMTP" value="172.16.0.50"/>

      <!--<add key="Correo_Servidor" value="smtp.office365.com"/>
      <add key="Correo_Puerto" value="587"/>
      <add key="Correo_Usuario" value="alertas@nuevomundosa.com"/>
      <add key="Correo_Password" value="Syst2m.2019"/>
      <add key="Correo_SSL" value="1"/>
      <add key="Correo_Credenciales" value="1"/>-->

    <add key="Correo_Servidor" value="172.16.0.19"/>
    <add key="Correo_Puerto" value="25"/>
    <add key="Correo_Usuario" value="alertas@nuevomundosa.com"/>
    <add key="Correo_Password" value="Syst2m.2019"/>
    <add key="Correo_SSL" value="0"/>
    <add key="Correo_Credenciales" value="0"/>

    <add key="Correo_CC" value="acaro@nuevomundosa.com"/>
    <add key="Correo_CCO" value="sistemas@nuevomundosa.com"/>
     <add key="RUTA_OCO_SQL" value="\\servnm09\c$\Inetpub\wwwroot\intranet\intranet_docs\"/> 

      <add key="ReporteServer" value="http://mundodesa/ReportServer/Pages/ReportViewer.aspx?"/>

    <add key="CopiaCorreoEtiquetas" value="RMejia@nuevomundosa.com;AlmacenPrincipal@nuevomundosa.com;sistemas@nuevomundosa.com"/>

    <!---URL Reporting Services-->
    <add key="ReporteServerNM" value="http://mundodesa02:8081/ReportServer/Pages/ReportViewer.aspx?"/>
    <!--- Modulos Enlace Nuevo Mundo-->
    <add key="ModuloAlmacen" value="%2fEnlace_NuevoMundo%2fAlmacen%2f"/>
    <add key="ModuloCostos" value="%2fEnlace_NuevoMundo%2fCostos%2f"/>
    <add key="ModuloCostosReales" value="%2fEnlace_NuevoMundo%2fCostosReales%2f"/>
    <add key="ModuloHilanderia" value="%2fEnlace_NuevoMundo%2fHilanderia%2f"/>
    <add key="ModuloPreTejido" value="%2fEnlace_NuevoMundo%2fPreTejido%2f"/>
    <add key="ModuloRevisionCrudos" value="%2fEnlace_NuevoMundo%2fRevisionCrudos%2f"/>
    <add key="ModuloRevisionFinal" value="%2fEnlace_NuevoMundo%2fRevisionFinal%2f"/>
    <add key="ModuloTejeduria" value="%2fEnlace_NuevoMundo%2fTejeduria%2f"/>
    <add key="ModuloTintoreria" value="%2fEnlace_NuevoMundo%2fTintoreria%2f"/>
    <!--- Modulos Administrativo Nuevo Mundo-->
    <add key="ModuloContabilidad" value="%2fAdministrativo_NuevoMundo%2fContabilidad%2f"/>
    <add key="ModuloLogistica" value="%2fAdministrativo_NuevoMundo%2fLogistica%2f"/>
    <add key="ModuloRecursosHumanos" value="%2fAdministrativo_NuevoMundo%2fRecursosHumanos%2f"/>
    <add key="ModuloTesoreria" value="%2fAdministrativo_NuevoMundo%2fTesoreria%2f"/>
    <add key="ModuloVentas" value="%2fAdministrativo_NuevoMundo%2fVentas%2f"/>
    <add key="ModuloGerencia" value="%2fAdministrativo_NuevoMundo%2fGerencia%2f"/>

    <add key="CopiaCorreoModuloDistribucion" value="ventas1@nuevomundosa.com;almacentelas@nuevomundosa.com;RArias@nuevomundosa.com"/>
    <add key="CopiaCorreoModuloDistribucionCC" value="ecastillo@nuevomundosa.com; oblas@nuevomundosa.com; LAlanoca@nuevomundosa.com; DGamarra@nuevomundosa.com"/>
    <add key="CopiaCorreoModuloDistribucionBCC" value="LAlanoca@nuevomundosa.com; DGamarra@nuevomundosa.com"/>
  </appSettings>

 
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccesoEnlace" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://200.60.99.228/EnlaceNM_ExtranetServices/AccesoEnlace.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccesoEnlace"
        contract="AccesoEnlace.IAccesoEnlace" name="BasicHttpBinding_IAccesoEnlace" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <!--<serviceDebug includeExceptionDetailInFaults="false"/>-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
